html,body, #root {
  height: 100%;
}

#root {
  background: url('../images/background-home.jpeg') no-repeat fixed center;
}

// App.scss
.App {
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  padding: 30px;
  max-width: 1280px;
}
