main {
  .btn-request {
    border: 2px solid #28a745;
    background: transparent;
    font-weight: 600;
    padding: 10px 30px;
    &:hover{
      background-color: rgba(40,167,69,0.5);
    }
  }
}
